.alert-danger, .alert-default, .alert-info, .alert-primary, .alert-secondary, .alert-success, .alert-warning {
    box-shadow: 1px 1px 5px 0 rgba(18,38,63,.26);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(18,38,63,.26);
    -moz-box-shadow: 1px 1px 5px 0 rgba(18,38,63,.26);
}
.alert .close {
    top: 0px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #1b1e21;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}
